<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.mapper.ClazzMapper">
  <resultMap id="BaseResultMap" type="com.ssm.entity.Clazz">
    <!--@mbg.generated-->
    <!--@Table s_clazz-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="info" jdbcType="VARCHAR" property="info" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, info
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from s_clazz
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from s_clazz
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.ssm.entity.Clazz" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into s_clazz (`name`, info)
    values (#{name,jdbcType=VARCHAR}, #{info,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.ssm.entity.Clazz" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into s_clazz
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        `name`,
      </if>
      <if test="info != null">
        info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="info != null">
        #{info,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ssm.entity.Clazz">
    <!--@mbg.generated-->
    update s_clazz
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="info != null">
        info = #{info,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ssm.entity.Clazz">
    <!--@mbg.generated-->
    update s_clazz
    set `name` = #{name,jdbcType=VARCHAR},
      info = #{info,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="getClazzList" resultMap="BaseResultMap">
      select * from s_clazz
      <where>
        <if test="clazz.name!=null and clazz.name!=''">
          `name` like '%${clazz.name}%'
        </if>
      </where>
      limit ${page.start},${page.pageSize}
    </select>
  <select id="getClazzListTotal" resultType="int">
    select count(*)as total from s_clazz
    <where>
      <if test="clazz.name!=null and clazz.name!=''">
        `name` like '%${clazz.name}%'
      </if>
    </where>
  </select>
</mapper>