<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.mapper.SelectedCourseMapper">
  <resultMap id="BaseResultMap" type="com.ssm.entity.SelectedCourse">
    <!--@mbg.generated-->
    <!--@Table s_selected_course-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="student_id" jdbcType="INTEGER" property="studentId" />
    <result column="course_id" jdbcType="INTEGER" property="courseId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, student_id, course_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from s_selected_course
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectIsSelected" resultType="java.util.Map">
      select * from s_selected_course where student_id = #{studentid,jdbcType=INTEGER} and course_id = #{courseid,jdbcType=INTEGER}
    </select>
   <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from s_selected_course
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.ssm.entity.SelectedCourse" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into s_selected_course (student_id, course_id)
    values (#{studentId,jdbcType=INTEGER}, #{courseId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.ssm.entity.SelectedCourse" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into s_selected_course
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="studentId != null">
        student_id,
      </if>
      <if test="courseId != null">
        course_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="studentId != null">
        #{studentId,jdbcType=INTEGER},
      </if>
      <if test="courseId != null">
        #{courseId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ssm.entity.SelectedCourse">
    <!--@mbg.generated-->
    update s_selected_course
    <set>
      <if test="studentId != null">
        student_id = #{studentId,jdbcType=INTEGER},
      </if>
      <if test="courseId != null">
        course_id = #{courseId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ssm.entity.SelectedCourse">
    <!--@mbg.generated-->
    update s_selected_course
    set student_id = #{studentId,jdbcType=INTEGER},
      course_id = #{courseId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getSelectedCourseList" resultType="com.ssm.entity.SelectedCourse">
    select * from s_selected_course
    <where>
      <if test="selectedCourse.studentId!=null and selectedCourse.studentId!=0 ">
        student_id = ${selectedCourse.studentId}
      </if>
      <if test="selectedCourse.courseId!=0">
        and course_id = #{selectedCourse.courseId,jdbcType=INTEGER}
      </if>
    </where>
    limit #{page.start,jdbcType=INTEGER},#{page.pageSize,jdbcType=INTEGER}
  </select>
  <select id="getSelectedCourseListTotal" resultType="java.lang.Integer">
    select count(*)as total from s_selected_course
    <where>
      <if test="selectedCourse.studentId!=null and selectedCourse.studentId!=0 ">
        student_id = ${selectedCourse.studentId}
      </if>
      <if test="selectedCourse.courseId!=0">
        and course_id = #{selectedCourse.courseId,jdbcType=INTEGER}
      </if>
    </where>
  </select>

</mapper>